{% if discounts %}
<div class="alert alert-danger my-4 pb-4 text-center">
  <h4 class="alert-heading">Discounts and Complimentary Items</h4>
  <p>The following discounts and complimentary items are available to you:</p>
  {% regroup discounts by discount.description as discounts_grouped %}
  <ul class="d-inline-block text-left">
  {% for discount_type in discounts_grouped %}
    <li>
      <strong>{{ discount_type.grouper }}</strong>
      <ul>
        {% for discount in discount_type.list %}
        <li>{{ discount.quantity }} &times; {{ discount.clause }}</li>
        {% endfor %}
      </ul>
    </li>
  {% endfor %}
  </ul>
  <p>
    <strong>
    Please ensure you enter a value in the form below to take advantage of this discount.<br>
    The discounts will be applied automatically when you check out.
    </strong>
  </p>
  <p class="mb-0">
    <strong>
    If you do not enter anything, you will not receive anything from this category.
    </strong>
  </p>
</div>

{% endif %}
