{% extends "site_base.html" %}
{% load bootstrap %}
{% load registrasion_tags %}

{% block body %}

<h2>Send reminder e-mails</h2>

<form class="form-horizontal" method="POST">
  {% csrf_token %}
  {{ form | bootstrap}}
  <br/>
  <input type="submit">
</form>

{% endblock %}
