{% if payments %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>Payment time</th>
      <th>Reference</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    {% for payment in payments %}
      <tr>
        <td>{{payment.time}}</td>
        <td>{{payment.reference}}</td>
        <td>{{payment.amount}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
