{% extends "registrasion/base.html" %}
{% load registrasion_tags %}
{% load lca2018_tags %}

{% block page_title %}Product Category: {{ category.name }}{% endblock %}

{% block scripts_extra %}
  {{ voucher_form.media.js }}
  {{ form.media.js }}
{% endblock %}

{% block proposals_body %}

  <form class="form-horizontal my-4" method="post" action="">
    {% csrf_token %}

    {% items_purchased category as items %}
    {% if items %}
      <h3>Paid items</h3>
      <p>You have already paid for the following items:</p>
      {% include "registrasion/_items_list.html" with items=items %}
    {% endif %}

    <h2>{{ category.name }}</h2>
    <blockquote>{{ category.description|safe }}</blockquote>

    <fieldset>
      {% if discounts %}
        {% include "registrasion/discount_list.html" with discounts=discounts %}
      {% endif %}

      <h3>Make a selection</h3>
      {% include "_form_snippet.html" with form=form %}

      <br />
      <input class="btn btn-primary" type="submit" value="Add to cart" />
      <a href="{% url "dashboard" %}" class="btn btn-link">Return to dashboard</a>
    </fieldset>
  </form>

{% endblock %}
