{% load i18n %}

<div class="card mb-4">
{% if proposal.result.status == "accepted" %}
  <div class="card-header text-white bg-success">
{% elif proposal.result.status == "rejected" %}
  <div class="card-header text-white bg-danger">
{% elif proposal.result.status == "standby" %}
  <div class="card-header text-white bg-warning">
{% else %}
  <div class="card-header bg-light">
{% endif %}
    {{ proposal.section.name }}
  </div>
  <div class="card-body">
    <h4 class="card-title">{{ proposal.title }}</h4>
    <h6 class="card-subtitle mb-2 text-muted">{{ proposal.kind.name }}</h6>
	  <div class="card-text">
      <p>
		  {% if proposal.cancelled %}
        <small class="badge badge-pill float-right badge-info">Cancelled</small>
		  {% else %}
        {% if request.user == proposal.speaker.user %}
  			  {% if proposal.result.status == "accepted" %}
          <small class="badge badge-pill float-right badge-success">Accepted</small>
	  		  {% else %}
          <small class="badge badge-pill float-right badge-primary">Submitted</small>
		  	  {% endif %}
        {% else %}
			  <small class="badge badge-pill float-right badge-secondary">Invited</small>
        {% endif %}
		  {% endif %}
      </p>
      <p>{{ proposal.abstract|truncatewords:40 }}</p>
	  </div>
  </div>
  <div class="card-footer">
    <a href="{% url "proposal_detail" proposal.pk %}" class="card-link">View Details</a>
    {% if not proposal.cancelled %}
    <a href="{% url "proposal_pending_join" proposal.id %}" class="card-link">Accept Invitation</a>
	  <a href="{% url "proposal_pending_decline" proposal.id %}" class="card-link">Decline Invitation</a>
    {% endif %}
  </div>
</div>
