{% extends "site_base.html" %}
{% load static %}

{% load i18n %}

{% block body_class %}reviews{% endblock %}
{% block main_class %}container-fluid{% endblock %}

{% block body_outer %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-sm-4">
            {% block sidebar %}
            {% for section in review_sections %}

            <div class="card card-default mb-3">
                <div class="card-header">
                    <h3 class="card-title">{{ section }}</h3>
                </div>
                <div class="list-group">
                    <a class="list-group-item review-list" href="{% url "review_section" section.section.slug %}">
                        {% trans "All Reviews" %}
                    </a>
                    {% comment %}
                    <a class="list-group-item" href="{% url "review_section_assignments" section.section.slug %}">
                        {% trans "Your Assignments" %}
                    </a>
                    {% endcomment %}
                    <a class="list-group-item user-reviewed" href="{% url "user_reviewed" section.section.slug %}">
                        {% trans "Reviewed by you" %}
                    </a>
                    <a class="list-group-item user-not-reviewed" href="{% url "user_not_reviewed" section.section.slug %}">
                        {% trans "Not Reviewed by you" %}
                    </a>
                    <a class="list-group-item user-random" href="{% url "user_random" section.section.slug %}">
                        {% trans "Random unreviewed proposal" %}
                    </a>
                    <a class="list-group-item voting-status" href="{% url "review_status" section.section.slug %}">
                        {% trans "Voting Status" %}
                    </a>
                    {% if section in manage_sections %}
                    <a class="list-group-item" href="{% url "review_bulk_update" section.section.slug %}">
                        Bulk Update
                    </a>
                    <a class="list-group-item review-results" href="{% url "result_notification" section.section.slug 'accepted' %}">
                        Result Notifications
                    </a>
                    <a class="list-group-item" href="{% url "review_admin" section.section.slug %}">
                        Reviewer Stats
                    </a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            {% endblock %}
        </div>
        <div class="col-md-10 col-sm-8">
            {% block body %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}

{% block extra_style %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/b-1.5.6/b-colvis-1.5.6/b-html5-1.5.6/b-print-1.5.6/cr-1.5.0/fc-3.2.5/fh-3.1.4/kt-2.5.0/r-2.2.2/rg-1.1.0/datatables.min.css"/>
{% endblock %}

{% block extra_script %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/b-1.5.6/b-colvis-1.5.6/b-html5-1.5.6/b-print-1.5.6/cr-1.5.0/fc-3.2.5/fh-3.1.4/kt-2.5.0/r-2.2.2/rg-1.1.0/datatables.min.js"></script>
<script type="text/javascript">
    var reviewtable = $("table.table-reviews").DataTable({
            "stateSave": true,
            "autoWidth": false,
            "lengthMenu": [[10, 50, 100, -1], [10, 50, 100, "All"]],
            "pageLength": 100,
            "colReorder": true,
            "columnDefs": [
                { targets: [6, 7, 8, 9, 10], visible: false }
            ],
            "buttons": [{
                extend: 'collection',
                text: 'Export',
                buttons: ["copy", "csv", "print", "pdf"]
            },
            {
                extend: 'collection',
                text: 'Columns',
                buttons: [
                    {
                        extend: 'columnsToggle',
                        columns: '.toggle'
                    },
                    {
                        extend: 'columnToggle',
                        text: 'Vote details',
                        columns: '.votes'
                    }
                ]
            }
            ]
        });
    reviewtable.buttons().container().prependTo( $(reviewtable.table().container() ));
</script>
<script>
$(document).ready(function () {

$('#sidebarBtn').on('click', function () {
    $('.sidebar').toggleClass('active');
});

});
</script>
{% endblock %}
