{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}User List{% endblock %}

{% block body_outer %}
    <h1>User List</h1>
    <table class="table table-striped table-bordered table-reportdata">
        <thead>
            <th>{% trans "Email" %}</th>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Speaker Profile?" %}</th>
        </thead>

        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.email }}</td>
                    <td>{{ user.get_full_name }}</td>
                    <td>
                        {% if user.speaker_profile %}
                            <a href="{% url "speaker_profile" user.speaker_profile.pk %}">{{ user.speaker_profile }}</a>
                        {% else %}
                            <a href="{% url "speaker_create_staff" user.pk %}" class="btn btn-xs">create</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block extra_script %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jszip-2.5.0/dt-1.10.16/b-1.4.2/b-html5-1.4.2/b-print-1.4.2/r-2.2.0/datatables.min.css"/>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs/jszip-2.5.0/dt-1.10.16/b-1.4.2/b-html5-1.4.2/b-print-1.4.2/r-2.2.0/datatables.min.js"></script>
<script type="text/javascript">
        $("table.table-reportdata").dataTable({
            "dom": "lBfrtip",
            "stateSave": true,
            "lengthMenu": [[10, 50, 100, -1], [10, 50, 100, "All"]],
            "pageLength": 100,
            "buttons": [ "copy", "csv", "print"]
        });
    </script>
{% endblock %}

