{% extends "symposion/schedule/base.html" %}

{% load i18n %}
{% load cache %}
{% load lca2018_tags %}
{% load sitetree %}

{% block head_title %}{{ schedule.section.name }} Schedule{% endblock %}
{% block page_title %}{{ schedule.section.name }} Schedule{% endblock%}

{% block content %}
  {% cache 600 "schedule-detail-table" schedule.section %}
    {% for timetable in days %}
    <div class="row timetable-day">
      <div class="col-12">
        <h2 class="my-4">
          {{ timetable.day.date|date:"l" }}, {{ timetable.day.date }}
        </h2>
        <p class="timezone-info small">Conference times are in {{ settings.CONF_START|date:'T' }} (UTC{{ settings.CONF_START|date:'O' }}). <span class="d-print-none">Current talks will be highlighted.</span></p>
        <div class="table-responsive d-none d-md-block">
          {% include "symposion/schedule/_grid.html" %}
        </div>
        <div class="mobile-schedule d-sm-block d-md-none">
          {% include "symposion/schedule/_mobile.html" %}
        </div>
      </div>
    </div>
    {% endfor %}
  {% endcache %}
{% endblock %}
