<h3>New Proposal</h3>
<p>Click one of the following links to create a session proposal.</p>
<p>Once submitted you will be able to see the status of your proposals, as well manage the submission and co-speakers from this page.</p>
<div>
  {% for kind in proposal_kinds %}
  <a class="btn btn-outline-primary mb-2" href="{% url "proposal_submit_kind" kind.slug %}">{{ kind }}</a>
  {% endfor %}
</div>
