{% extends "site_base.html" %}

{% load bootstrap %}

{% block head_title %}{{ team.name }}{% endblock %}

{% block content %}
    <div class="jumbotron">
    <h1>{{ team.name }}</h1>

    {% if team.description %}<p>{{ team.description }}</p>{% endif %}

    <div>
        <h2>Your Status {% if state %} <span class="badge badge-pill badge-primary">{{ state }}</span>{% endif %}</h2>
        {% if state == "invited" %}
        <p>
            You have been invited to join this team.
            <form class="form-horizontal" method="post" action="{% url "team_join" team.slug %}">
                {% csrf_token %}
                <input type="submit" class="btn btn-primary" value="Accept">
            </form>
        </p>
        {% endif %}

        {% if can_join %}
        <p>
            You are <strong>not</strong> a member of this team.
            <form class="form-horizontal" method="post" action="{% url "team_join" team.slug %}">
                {% csrf_token %}
                <input type="submit" class="btn btn-primary" value="join">
            </form>
        </p>
        {% endif %}

        {% if can_leave %}
        <p>
            You are a member of this team.
            <form class="form-horizontal" method="post" action="{% url "team_leave" team.slug %}">
                {% csrf_token %}
                <input type="submit" class="btn btn-secondary" value="leave">
            </form>
        </p>
        {% endif %}

        {% if can_apply %}
        <p>
            You are <strong>not</strong> a member of this team.
            <form class="form-horizontal" method="post" action="{% url "team_apply" team.slug %}">
                {% csrf_token %}
                <input type="submit" class="btn btn-primary" value="apply">
            </form>
        </p>
        {% endif %}
    </div>

    {% if user.is_staff or state == "manager" %}
        {% if team.managers %}
            <h2>Managers</h2>
            <table class="table table-striped">
                {% for membership in team.managers %}
                    <tr>
                        <td>{{ membership.user.get_full_name }} &lt;{{ membership.user.email }}&gt;{% if user == membership.user %} <span class="badge badge-info">you</span>{% endif %}</td>
                        <td>
                            <form class="form-horizontal" style="margin: 0;" method="post" action="{% url "team_demote" membership.pk %}">{% csrf_token %}<button type="submit" class="btn btn-sm btn-primary">demote</button></form>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
        {% if team.members %}
            <h2>Team Members</h2>
            <table class="table table-striped">
                {% for membership in team.members %}
                    <tr>
                        <td>{{ membership.user.get_full_name }} &lt;{{ membership.user.email }}&gt;{% if user == membership.user %} <span class="badge badge-info">you</span>{% endif %}</td>
                        <td>
                            <form class="form-horizontal" style="margin: 0;" method="post" action="{% url "team_promote" membership.pk %}">{% csrf_token %}<button type="submit" class="btn btn-sm btn-primary">promote</button></form>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
        {% if team.applicants and team.access == "application" %}
            <h2>Applicants</h2>
            <table class="table table-striped">
                {% for membership in team.applicants %}
                    <tr>
                        <td>{{ membership.user.get_full_name }} &lt;{{ membership.user.email }}&gt;</td>
                        <td>
                            <form class="form-horizontal" style="margin: 0; float: left;" method="post" action="{% url "team_accept" membership.pk %}">{% csrf_token %}<button type="submit" class="btn btn-sm btn-primary">accept</button></form>
                            <form class="form-horizontal" style="margin: 0; float: left;" method="post" action="{% url "team_reject" membership.pk %}">{% csrf_token %}<button type="submit" class="btn btn-sm btn-secondary">reject</button></form>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
        {% if team.invitees %}
            <h2>Invitees</h2>
            <table class="table table-striped">
                {% for membership in team.invitees %}
                    <tr>
                        <td>{{ membership.user.get_full_name }} &lt;{{ membership.user.email }}&gt;</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
        {% if invite_form %}
            <form method="POST" action="" class="form-horizontal">
                {% csrf_token %}
                <legend>Invite User to Team</legend>
                {{ invite_form|bootstrap_horizontal }}
                <div class="form-actions">
                    <input class="btn btn-primary" type="submit" value="Invite" />
                </div>
            </form>
        {% endif %}
    {% endif %}
    </div>
{% endblock %}
