{% load lca2018_tags %}
{% load lca2019_tags %}
{% load bootstrap %}
{% load crispy_forms_tags %}

{% if form.non_field_errors %}
  <div class="has-errors">
    {{ form.non_field_errors }}
  </div>
  <br/>
{% endif %}

<p>
{% if form|has_required_fields %}
Fields marked with a * are required.
{% endif %}
{% if form|has_price_fields %}
<strong>Item prices are before any discount.</strong>
{% endif %}
</p>

{{ form|crispy }}
