{% extends "site_base.html" %}
{% load static %}
{% load i18n %}

{% load review_tags %}
{% load teams_tags %}
{% load registrasion_tags %}
{% load lca2018_tags %}


{% block head_title %}Dashboard{% endblock %}
{% block page_title %}User Dashboard{% endblock %}

{% block alert %}
{% endblock %}

{% block content %}

{% available_categories as categories %}
{% if categories %}
  {% include "symposion/dashboard/_categories.html" %}
{% endif %}

<div class="mb-4">
  {% include "symposion/dashboard/speaking.html" %}
</div>

{% if review_sections %}
<div class="mb-4">
  <div class="row">
    <h2 class="col-12 mb-3">{% trans "Reviews" %}</h2>
  </div>
  <div class="row">
    {% for section in review_sections %}
    <div class="col-md-6 col-lg-4">
    <div class="card card-default mb-3">
      <div class="card-header">
          <h3 class="card-title">{{ section }}</h3>
      </div>
      <div class="card-body">
        <ul class="list-unstyled">
            <li><a href="{% url "review_section" section.section.slug %}">All Reviews</a></li>
            {% comment %}
            <li><a href="{% url "review_section_assignments" section.section.slug %}">Your Assignments</a></li>
            {% endcomment %}
            <li><a href="{% url "user_reviewed" section.section.slug %}">Reviewed by you</a></li>
            <li><a href="{% url "user_not_reviewed" section.section.slug %}">Not Reviewed by you</a></li>
            <li><a href="{% url "user_random" section.section.slug %}">Random unreviewed proposal</a></li>
          </ul>

          <ul class="list-unstyled">
            <li><a href="{% url "review_status" section.section.slug %}">Voting Status</a></li>
            {% if section in manage_sections %}
            <li><a href="{% url "review_bulk_update" section.section.slug %}">Bulk Update</a></li>
            <li><a href="{% url "result_notification" section.section.slug "accepted" %}">Result notifications</a></li>
            <li><a href="{% url "review_admin" section.section.slug %}">Reviewer Stats</a></li>
            {% endif %}
          </ul>
      </div>
    </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}

{% available_teams as available_teams %}
{% if user.memberships.exists or available_teams %}
<div class="mb-4">
  <div class="row">
    <h2 class="col-12 mb-3">{% trans "Teams "%}</h2>
  </div>
  {% if user.memberships.exists %}
  <div class="row">
    <h3 class="col-12">Your Teams</h3>
  </div>
  <div class="row">
    {% for membership in user.memberships.all %}
    <div class="col-md-6">
      {% include "symposion/teams/_team_row.html" with team=membership.team %}
    </div>
    {% endfor %}
  </div>
  {% endif %}
  {% if available_teams %}
  <div class="row">
    <h3 class="col-12">Available Teams</h3>
  </div>
  <div class="row">
    {% for team in available_teams %}
    <div class="col-md-6">
      {% include "symposion/teams/_team_row.html" %}
    </div>
    {% endfor %}
  </div>
  {% endif %}
</div>
{% endif %}

{% endblock %} <!-- block content -->

{% block scripts_extra %}
<script type="text/javascript">
  var _toggleVoidInvoices = function() {
    var visible = false;
    function toggleVoidInvoices() {
      $btn = $("#toggle-void-invoices");
      $invoices = $(".void-invoice")

      if (visible) {
        $invoices.hide();
        btnText = "Show void invoices";
      } else {
        $invoices.show();
        btnText = "Hide void invoices";
      }
      $btn.text(btnText);
      visible = !visible;
      return true;
    }
    return toggleVoidInvoices;
  }
  var toggleVoidInvoices = _toggleVoidInvoices();
  _toggleVoidInvoices = undefined;
</script>
{% endblock %}
